h3{   
	margin-top: 0px; 
	text-align: center;

 } 
 nav{  
 	color: #FF6F00;
  } 

  .inputf{
  	width: 20;
  } 

  .buttoncenter{  

   } 
   .logo{  
   	height: 500px; 
   	width: 500px; 
   padding-left: 20px;
    } 

    .heading{  
      text-align: center;  
      font-size: 50px;
      font-family: 'Libre Baskerville', serif;
     } 

  .formback{   
    margin-top: 0px;
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
   } 

   .navback{  
    background-color: #795548;
    } 

    .buttoncenter{  
      display: flex; 
      justify-content: center;
     }